<div class="page-header">
  <h3>Bucket List Wine #<%= @bucket_list_wine.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @bucket_list_wine.user.present? %>
          <a href="/users/<%= @bucket_list_wine.user_id %>">
            <%= @bucket_list_wine.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Wine</dt>
      <dd>
        <% if @bucket_list_wine.wine.present? %>
          <a href="/wines/<%= @bucket_list_wine.wine_id %>">
            <%= @bucket_list_wine.wine.name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/bucket_list_wines" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @bucket_list_wine.user %>
        <a href="/bucket_list_wines/<%= @bucket_list_wine.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_bucket_list_wine/<%= @bucket_list_wine.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
