<!-- Validation failure messages -->
<% if @my_wine.errors.any? %>
  <% @my_wine.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit My Wine #<%= @my_wine.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_my_wine/<%= @my_wine.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      
      

      <!-- Label and input for wine_id -->
      <div class="form-group">
        <label for="wine_id" class="control-label">
          Wine
        </label>

        <%= select_tag(:wine_id, options_from_collection_for_select(Wine.all, :id, :name, @my_wine.wine_id), :class => "form-control") %>
      </div>

      <!-- Label and input for bucket_list -->
      <div class="checkbox">
        <label for="bucket_list">
          <input type="checkbox" id="bucket_list" name="bucket_list" value="1" <%= "checked" if @my_wine.bucket_list %>>
          Bucket list
        </label>
      </div>

      <button class="btn btn-warning">
        Update My Wine
      </button>
      or
      <a href="/my_wines/<%= @my_wine.id %>">Cancel</a>
    </form>
  </div>
</div>
