<div class="page-header">
  <h3>My Wine #<%= @my_wine.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @my_wine.user.present? %>
          <a href="/users/<%= @my_wine.user_id %>">
            <%= @my_wine.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Wine</dt>
      <dd>
        <% if @my_wine.wine.present? %>
          <a href="/wines/<%= @my_wine.wine_id %>">
            <%= @my_wine.wine.name %>
          </a>
        <% end %>
      </dd>

      <dt>Bucket list</dt>
      <dd><%= @my_wine.bucket_list %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/my_wines" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @my_wine.user %>
        <a href="/my_wines/<%= @my_wine.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_my_wine/<%= @my_wine.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
