<div class="page-header">
  <h3>Wine #<%= @wine.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @wine.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/wines" class="btn btn-primary">
        Back
      </a>
      <a href="/wines/<%= @wine.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_wine/<%= @wine.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Wine has many bucket_list_wines -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Bucket List Wines
      </li>

      <% @wine.bucket_list_wines.each do |my_wine| %>
        <li class="list-group-item">
          <a href="/my_wines/<%= my_wine.id %>">
            <%= my_wine.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/my_wines/<%= my_wine.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/my_wines/<%= my_wine.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_my_wine/<%= my_wine.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_my_wine" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for wine_id -->
      <input type="hidden" name="wine_id" value="<%= @wine.id %>">

      <!-- Label and input for bucket_list -->
      <div class="checkbox">
        <label for="bucket_list">
          <input type="checkbox" id="bucket_list" name="bucket_list" value="1" <%= "checked" if @my_wine.bucket_list %>>
          Bucket list
        </label>
      </div>

      <button class="btn btn-block btn-success">
        Create My Wine
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
